nav{
    padding: 0 8px;
    display: flex;
    height: 72px;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    gap: 40px;
    list-style-type: none;
}

nav ul a{
    /* color: black; */
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
}
